@import "../global.scss";

.ChoosePage {
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: fixed;
  margin-left: -20px;
  background-color: white;
  z-index: 3;
}

.messages-heading {
  padding-top: 50px;
  margin-bottom: 20px;
}
