@import "../global.scss";

.ChoosePage {
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.messages-heading{
    margin-bottom: 15px;
}