.Intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5%;
  background: #000000;

  color: white;
}

.Typewriter__wrapper {
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.bubble {
  background: #333333;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

img {
  width: 200px;
  border-radius: 15px;
  animation: slideUp 0.3s;
}

@keyframes slideUp {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
  }
}
