.message-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.name-message {
  display: flex;
  flex-direction: column;
}

.message-card-left {
  display: flex;
  gap: 10px;
}

.contact-name{
    font-weight: bold;
}