@import '../global.scss';

.QuizCard {
  height: 100%;
  width: 100%;
  background: $red;
  display: flex;
  flex-direction: column;
  padding: 5%;

  justify-content: center;
}

.title {
  color: white;
}

p {
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
